p {
  text-align: center;
  color: white;
}
body {
  background: linear-gradient(120deg, #ff512f, #dd2476);
}
.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.square {
  width: 135px;
  height: 135px;
  border: 1px solid rgb(255, 255, 255);
}
.mole {
  background: url("images/dd.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}
